<h1><%="#{@doctor.first_name} #{@doctor.last_name}'s Appointments"%></h1>
<ul>
<li><%= link_to "Edit Doctor's Credentials", edit_doctor_path %></li>
<li><%= link_to "Remove Doctor From Registry", @doctor, method: :delete %></li>
</ul>

<!-- Appointment here -->
