<h1><%= @user.user_full_name %> Appointments</h1>
<%= link_to 'Add Another Appointment', new_user_appointment_path(@user) %> 

<ul>
<% @user.appointments.each do |a| %>
<li>Doctor: <%= a.doctor_id %>  Time: <%= a.time %></li>
<%end%>
</ul>