<div>
    <div class="banner">
        <div class='title'>The Doctor's Office</div>
    </div>
    <div class="ui secondary pointing menu">
        <%= link_to 'View Doctors', doctors_path, class: 'item' %>
        <%= link_to 'View Patients', root_path, class: "item" %>
    </div>
</div>
